[flake8]
max-line-length = 120
ignore = 
    E203,
    W503,
    E501,
    E402
# Enable checks for import * (F403: 'from module import *' used, F405: name may be undefined)
select = F403,F405
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    .eggs,
    *.egg,
    build,
    dist